<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="General">
	   <setting id="logEnabled" type="bool" label="Enable logging" default="false"/>
	</category>
	<category label="Sharing">
		<setting label="Open magnet with" type="select" id="openMagnetWith" values="Elementum|Quasar|Torrenter V2" default="Elementum"/>
	</category>
</settings>