<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32000">
	   <setting id="logEnabled" type="bool" label="32002" default="false"/>
	</category>
	<category label="32001">
		<setting label="32003" type="select" id="openMagnetWith" values="Elementum|Quasar|Torrenter V2" default="Elementum"/>
	</category>
</settings>